#pagetitle{
color:white;
font-size:60pt;
text-align:center;
font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  
}
body{
background-color:black;
}
#links{
color:white;
font-size:40pt;
text-align:center;
font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
   text-decoration:none;
}

#footer {
position: relative;
top:100px;
bottom: 0;
width: 100%;
height: 50px;
overflow: hidden;
background-color: rgba(1,0,1,0.8);
font-size:30pt;
color: #FFF;
text-align:right;
font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#text{
color:white;
font-size:35pt;
text-align:center;
font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  
}
a{
text-decoration:none;
color:#6699FF;
}
IMG.displayed{
display:block;
margin-left:auto;
margin-right:auto;
border: 8px solid #000;
border-radius: 40px;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
-webkit-transform: scale(0.8)

}
#headings{
color:#6699ff;
font-size:40pt;
text-align:left;

font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#headings2{
color:#6699ff;
font-size:40pt;
text-align:left;

font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#headings3{
color:#6699ff;
font-size:40pt;
text-align:left;

font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#headings4{
color:#6699ff;
font-size:40pt;
text-align:left;

font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#headings5{
color:#6699ff;
font-size:40pt;
text-align:left;

font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}#headings6{
color:#6699ff;
font-size:40pt;
text-align:left;

font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
#text2{
margin-left:auto;
margin-right:auto;
border:100px solid #000;
color:white;
font-size:35pt;
text-align:left;
font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  
}


